body{
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 14px; 
    font-family: "Droid Arabic Kufi";
    FONT-SIZE: 9pt;
    line-height: 1.50857143; 
    color: #333;
    background-color: #fff;*/
 }

/* ================Start Global Rules================ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  direction: rtl;
 
  font-family: "Droid Arabic Kufi";
  font-family: 'Cairo', sans-serif;
 line-height: 1.50857143;
font-size: 0.8rem;
margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    padding-left: 4px;
   color: #31708f;
}

/*================ End Global Rules ================*/



/*================ Start header Section==============*/
header {
background-color: #eee;
background-image: url(../images/h.png);
background-size: cover;
    display: flex;
}

header img{
    width: 104px;
    padding-top: 13px;
margin-right: 10;

}

.l-logo{
    font-weight: bold;
    color: #31708f;
    padding-right: 15;
    padding-top: 15;
    font-size: 23;
}

/*================ End header Section ================*/



 

/*================Start nav Section ================*/
nav{
    background-color: #e0e1e2;
    border-color: #e7e7e7;
    position: sticky;
    top: 0;
    z-index: 99;
}
 
nav #myUl {
    display: flex;
        flex-wrap: wrap;
    justify-content: flex-end;
    
 list-style: none;
   margin: 0 auto 20px;
    padding: 0;
}


nav #myUl  li  {
    text-align: center;

}

nav #myUl  .link1 {
    position: relative;
    
}


nav #myUl  .link1 ul {
    position: absolute;
    left: 0;
    min-width: 160px;
    padding: 5px 0;
    background-color: #f2f2f2;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
      border-radius: 4px;
   border: 1px solid #f2f2f2 !important;
       z-index: 1000;
      display: none;

}


nav #myUl  .link1 ul a {
   display: block;
   padding: 5px 15px;
  margin: 0;
text-align: right !important;
}

nav #myUl  .link1:hover ul {
      display: block;
   }

nav #myUl  .link1 ul a:hover {
      color: #fff;

   background-color:#00C896;
   }


nav #myUl .li-ic  {
    text-align: center;
    
    display: flex; 
   align-items: center;
}

nav #myUl  li #ic  {
    text-align: center;
    
    font-size: 20px;
    padding: 15px 12px;
   background-color: #777;
    color: #fff;

}

nav #myUl  li #ic i {
  color: #fff;
    padding: 0 ;
}



nav #myUl  li #ic:hover {
      color: #fff;

   background-color: #31708f;
   }


  nav #myUl li   #mo {
    
   background-color: #777;
    color: #fff;

}


nav #myUl li #mo i {

  color: #fff;
    padding: 0 3px 0 0;
}


nav #myUl li   #mo:hover {
      color: #fff;

   background-color: #31708f;
   }

nav #myUl  li a {
text-decoration: none;

color: #505655;

    display: block;
padding-left: 7px;
    padding-right: 7px;
margin: 0 auto;
    line-height: 2.2;
        padding-top: 12px;
    padding-bottom: 10px;
}


nav #myUl  li:not(:first-child) a {
  border-right: 1px solid #fff;
}

nav  #myUl  li  a:hover {
      color: #fff;

   background-color: #31708f;
   }


span {
padding-right: 5px;
color: red;
}

#fle {
flex-grow: 1;
    text-align: right !important;
}
   /*================End nav Section================*/




/*================ Start grid Section================*/
.box1{
display: grid;
  grid-template-columns: auto auto auto  ;
  grid-template-rows: auto auto auto ;
  grid-template-areas:
    " sid row1 row1 "
 " sid row2 row2 "
 " sid row3 row3 " ;
gap: 20px;
}

.row1{
grid-area: row1;
}

.row2{
grid-area: row2;
}
.row3{
grid-area: row3;
}

.links{
grid-area: sid;
}

/*================ End grid Section ================*/




/*================ Start sidebar Section ================*/
 .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #e7e7e7;
  
  right: 20px;
  min-width: 180px;
  width: 200;
  top: calc(100%);
  z-index: 1;
border-radius: 4px;
}

 .links li:hover a{
  display: block;
   background-color: #31708f;
   color: #fff;
   


}
 .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
 .links ul li:hover a {
  padding-right: 25px;
}
 .links ul li:not(:last-child) a {
  border-bottom: 2px solid #f7f7f7;
}

/*================ End sidebar Section ================*/



/*================ Start row1 Section ================*/

/* Start Cards */

.card{
min-height: 20px;
    padding: 19px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    margin-bottom: 20px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 7%);
    border-radius: 4px;
}

/* End Cards */

 .card .mm{
    font-weight: 700;
    color: #FF0000;
    font-size: medium;
}


/*================ End row1 Section ================*/



/*================ Start row2 Section ================*/


video {
    margin-bottom: 10px;
}
.r-box{
    display: flex;
    margin-top: 20px;
}

.r-box .card{
max-width: 250px;
    margin-left: 20px;
}

/*================ End row2 Section ================*/



/*================ Start row3 Section ================*/

.cont{
display: grid;
    grid-template-columns: repeat(3,minmax(200px, 1fr));
    gap: 20px;
}

.cont .card {
    min-height: 20px;
    padding: 19px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.cont .card:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 15%);
}


.mes {
padding-right: 5px;
color: red;
font-size: 30px;
vertical-align: middle;
}
/*================ End row3 Section ================*/











 /*========= Start Footer========= */

footer {
margin-top: 150px;
width: 100%;
height: 20vh;
background:#333333 ;
text-align: center;
position: relative;
color: white;
font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

footer p {
        position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
font-size: 1rem;
        font-size: 1.3em;
    font-weight: 500;
}

footer div {
        position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}

footer div a {
       font-size: 1.3em;
padding-right: 5px;
color: white;
}

footer a:hover{
    color: #EDDFDE;
}
 /* =============End Footer========== */







 